<button
  class="relative mx-auto overflow-hidden  rounded-4xl min-w-full md:w-3/5 p-4
         flex items-center justify-center group hover:cursor-pointer focus:outline-none
         focus:ring-2 focus:ring-[var(--color-card)]/50  "
           [ngClass]="type === 'primary' ? 'bg-[var(--color-primary)] hover:bg-[var(--color-primary-hover)]' : 'bg-[var(--color-bg)] border-[var(--color-secondary)]  hover:bg-[var(--color-secondary-hover)] hover:border-0 hover:border-[var(--color-secondary-hover)] border-2'"
  (click)="onClick()"
>
  <!-- <span
    class="pointer-events-none absolute inset-0 bg-[#230E91]
           -translate-x-full group-hover:translate-x-0
           transition-transform duration-[400ms] ease-in-out"
  ></span> -->

  <div class="relative z-10  font-medium min-w-full  px-4">
    <p class="truncate text-center text-[16px]"            [ngClass]="type === 'primary' ? ' text-white' : ' text-[var(--color-secondary)] '"
>{{ text }}</p>
  </div>
</button>
