<button
  class="relative mx-auto overflow-hidden  rounded-xl min-w-full md:w-3/5 p-4
         flex items-center justify-center group hover:cursor-pointer focus:outline-none
         focus:ring-2 focus:ring-white/50  "
           [ngClass]="type === 'primary' ? 'bg-primary' : 'bg-bg border-secondary border-2'"
  (click)="onClick()"
>
  <!-- <span
    class="pointer-events-none absolute inset-0 bg-[#230E91]
           -translate-x-full group-hover:translate-x-0
           transition-transform duration-[400ms] ease-in-out"
  ></span> -->

  <div class="relative z-10  font-medium min-w-full  px-4">
    <p class="truncate text-center text-[16px]"            [ngClass]="type === 'primary' ? 'bg-primary text-bg' : 'bg-bg text-secondary '"
>{{ text }}</p>
  </div>
</button>
