<div class="md:flex w-full justify-between  md:min-h-dvh md:max-h-dvh   shadow-3xl">

  <div class="md:p-30 md:mt-20 md:w-1/2 h-full  w-full p-4 space-y-8 max-h-full min-h-full ">
    <div class="rounded-3xl w-5/11 bg-secondary p-2 ">
      <p>{{ 'portfolio.title' | translate }}</p>
    </div>
    <div class="text-3xl font-bold w-4/5">
      <p>Vous aimez l’informatique, l’ingénierie logicielle ou simplement l’innovation digitale ?</p>
    </div>
    <div class="text-muted text-m ">
      <p>Alors bienvenue dans le monde de Wafae, où le code devient une aventure.</p>
    </div>
    <div class="md:flex space-x-2">
      <app-button text="Télécharger le CV (PDF)" type="primary" icon="send" (actionHandler)="download()">
      </app-button>
      <app-button text="Voir mes projets" type="secondary" icon="send" (actionHandler)="download()">
      </app-button>
    </div>

  </div>

  <div class="w-full hidden md:block md:w-1/2 ">
    <div class="md:p-10  justify-center items-center md:mt-20   ">
            <img  src="img/profile/profile-Photoroom.png" alt="Profile Icon" >

    </div>

  </div>
</div>


<div class="w-full bg-primary md:p-10 p-2">
  <div class="mx-auto max-w-2/3 grid place-items-center md:gap-6 gap-2 text-center">
    <h2 class="font-bold text-2xl p-4">Qui suis-je ?</h2>

    <div class="font-light text-xl space-y-4 px-6 md:px-12">
      <p class="mx-auto max-w-prose">
        Je m’appelle Wafae El Mansouri, j’ai 23 ans et je suis actuellement développeuse Full Stack 
        dans une société spécialisée dans la distribution automatique en France.
      </p>

      <p class="mx-auto max-w-prose">
      Au fil de mes expériences, que ce soit en entreprise ou en freelance,
       j’ai eu l’opportunité de travailler sur des projets variés qui m’ont permis
        d’acquérir une solide expertise en développement logiciel.
         J’ai ainsi pu maîtriser différentes approches aussi bien côté back-end 
         que front-end,
       tout en participant à chaque étape du cycle de vie des applications.
      </p>

       <p class="mx-auto max-w-prose">
     Mais au-delà des frameworks et du code, 
     je suis avant tout une curieuse insatiable qui aime comprendre comment les 
     choses fonctionnent, une créative qui transforme des idées en applications 
     concrètes et une team player 
     convaincue que le partage et l’intelligence collective font la différence.
      </p>
    </div>

    <div class="min-w-0 max-w-[70ch]">
      <app-button text="Continuer" type="secondary" icon="send" (actionHandler)="download()">
      </app-button>
    </div>
  </div>
</div>



<div class="w-full  md:p-10 p-2">
  <div class="mx-auto grid place-items-center gap-6 text-center">
    <h2 class="font-bold text-2xl p-4">Mon expertise</h2>


    <div class=" w-min-full grid grid-cols-1 md:grid-cols-5 gap-6 md:px-20 px-10">
      <div *ngFor="let value of values">
        <app-card [text]="value.text" [icon]="value.icon" [title]="value.title"></app-card>
      </div>
    </div>
  </div>
</div>


<div class="w-full  md:p-10 p-2">
  <div class="mx-auto grid place-items-center gap-6 text-center">
    <h2 class="font-bold text-2xl p-4">Mes compétences</h2>


    <div class=" w-min-full grid grid-cols-1 md:grid-cols-4 gap-6 md:px-20 px-10">
      <div *ngFor="let value of skills">
        <app-card type="skills" [title]="value.name" [techs]="value.techs"></app-card>
      </div>
    </div>
  </div>
</div>



<div class="w-full bg-primary md:p-10 p-2">
  <div class="mx-auto grid place-items-center gap-6 text-center">
    <h2 class="font-bold text-2xl p-4">Mon parcours</h2>


    <div class=" w-min-full  md:px-20 px-2">
      <app-resume></app-resume>
    </div>
  </div>
</div>


<div class="w-full bg-bg md:p-10 p-2">
  <div class="mx-auto grid place-items-center gap-6 text-center">
    <h2 class="font-bold text-2xl p-4">Mes projets</h2>
        <div class=" w-min-full grid grid-cols-1  md:px-20 p-2">

    <app-portfolio></app-portfolio>
        </div>

  </div>
</div>


<div class="flex w-full bg-secondary min-h-[30ch] justify-center items-center p-10">
  <div class="mx-auto max-w-2/3 grid place-items-center gap-6 text-center">
        <h2 class="font-bold text-2xl p-4">Mes projets</h2>

    <app-button text="Voir le code sur GitHub" type="primary" icon="code" (actionHandler)="download()">
    </app-button>
  </div>
</div>

<div class="w-full bg-bg md:p-10 p-2">
  <div class="mx-auto max-w-2/3 grid place-items-center gap-6 text-center">
    <h2 class="font-bold text-2xl p-4">Contact</h2>
    <app-contact></app-contact>
  </div>
</div>


