<div class="grid grid-cols-[1fr_160px_1fr] gap-x-6 space-y-10   relative ">
  <div >
    <div *ngIf="isRight === 'false'" class="text-right pr-2">
 <p class="text-black text-xl font-bold">{{ title }}</p>
    <p class="text-[#6754CA]">{{ subTitle }}</p>
    <p class="text-black">{{ text }}</p>
    </div>
  </div>

  <div class="relative flex items-center justify-center">
  <div class="absolute left-1/2 -translate-x-1/2 top-[-0px] bottom-[-40px] border-l-4 border-secondary"></div>
  <div class="relative flex justify-center items-center z-10 w-40 h-40 rounded-full bg-bg border-2 border-secondary text-center shadow">
    <p class="mx-auto px-auto text-secondary text-xl font-bold">{{ date }}</p>
  </div>
</div>


  <div >
    <div *ngIf="isRight === 'true'" class="text-left pl-2">
    <p class="text-black text-xl font-bold">{{ title }}</p>
    <p class="text-[#6754CA]">{{ subTitle }}</p>
    <p class="text-black">{{ text }}</p>
    </div>

  </div>
</div>
