<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="flex  w-full ">
  <div *ngIf="!showModal" class="fixed inset-0 z-40 bg-opacity-25 backdrop-blur-sm"></div>

  <div *ngIf="!showModal" class="fixed inset-0 z-40 flex items-center justify-center ">
    <div class="w-[70%]">
      <app-popup text="hhhhhhhh" title="hhhhhhhhh" subTitle="hhhhhhh"></app-popup>
    </div>
  </div>
  <div class="w-1/5 mr-4 h-[90%] fixed">
    <app-profile></app-profile>
  </div>
  <div class=" ml-[25%] w-[70%] h-screen overflow-y-auto   bg-slate-800 rounded-xl ">
    <div class="flex flex-row justify-between items-center ">
      <div class="pl-4">
        <app-title text="À propos" size="big"></app-title>
        <div class="w-1/3 ">
          <mat-divider color="orange"></mat-divider>
        </div>
      </div>
      <div class="">
        <app-toolbar [links]="navigationLinks" [activeLink]="activeLink" />
      </div>
    </div>
    <div class="p-4">
      <router-outlet />
    </div>
  </div>
</div>