<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="space-y-6">

  <div class="flex flex-row gap-10">
    <div class="w-1/2">
      <input
        type="text"
        formControlName="fullName"
        placeholder="Votre nom complet"
        class="block w-full rounded-xl border border-[#F4F4F6]  bg-white p-3 text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500" />
      <p *ngIf="contactForm.get('fullName')?.hasError('required') && contactForm.get('fullName')?.touched" class="text-red-500 text-sm mt-1">
        Champ obligatoire
      </p>
    </div>

    <div class="w-1/2">
      <input
        type="email"
        formControlName="email"
        placeholder="email@example.com"
        class="block w-full rounded-xl border border-[#F4F4F6]  bg-white p-3 text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500" />
      <p *ngIf="contactForm.get('email')?.hasError('required') && contactForm.get('email')?.touched" class="text-red-500 text-sm mt-1">
        Champ obligatoire
      </p>
      <p *ngIf="contactForm.get('email')?.hasError('email') && contactForm.get('email')?.touched" class="text-red-500 text-sm mt-1">
        Veuillez entrer une adresse e-mail valide.
      </p>
    </div>
  </div>

  <div>
    <textarea
      rows="5"
      formControlName="message"
      placeholder="Expliquez votre besoin, une idée de collaboration, etc."
      class="block w-full rounded-xl border border-[#F4F4F6]  bg-white p-3 text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500"></textarea>
 
  </div>

  <div>
    <button
      type="submit"
      class="bg-[#6754CA] mt-6 rounded-xl w-2/5  text-white text-lg px-6 py-3  justify-center text-center p-2 " (click)="onSubmit()">
      Envoyer
    </button>
  </div>
</form>
